aula5-XML/ExemploX005.xml

<xsd:schema xmlns:xsd="//www.w3.org/2001/XMLSchema">

<xsd:element name="colaborador">

 <xsd:complexType name="tipoColaborador">

  <xsd:sequence>

  <xsd:element name="nome" type="xsd:string"/>

  <xsd:element name="matricula" type="xsd:string">

    <xsd:complexType>

    <xsd:attribute name="uf" type="xsd:string"/>

    </xsd:complexType>

  </xsd:element>

  </xsd:sequence>

  </xsd:complexType>

</xsd:element>